.header{
    margin-bottom: 20px; 
    text-align: center;
}

.header_area{
    padding: 20px;
}

.contact-info .fa {
    padding-right: 5px;
  }
  
  #contact .form-control {
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0px;
    box-shadow: none;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 10px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
  }
  
  #contact .form-control:focus {
    border-bottom-color: black;
  }
  
  #contact input {
    height: 55px;
  }
  
  #contact button#submit {
    background: #2b2b2b;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    height: 50px;
    margin-top: 24px;
  }
  
  #contact button#submit:hover {
    background: #007bff;
    color: #ffffff;
  }
  
.footer{
    margin-top: 20px;
    background-color: black;
    color: white;
}

.footer_area{
    padding: 20px;
    text-align: center;
}